# macOS
.DS_Store
.AppleDouble
.LSOverride

# Homebrew
*.bottle.tar.gz
*.bottle.json

# Editor directories and files
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
*~

# Temporary files
*.tmp
*.bak
*.log.env
.envrc
